<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="app" v-bind:style="{ background: '#' + color }">
        <img
            v-on:mouseover="toggleShowPrices"
            v-on:mouseout="toggleShowPrices"
            v-bind:src="img"
            v-bind:alt="name">

        <h1 v-bind:class="changePercent > 0 ? 'green' : 'red'">
            {{ name }}

            <!-- ESTAS DIRECTIVAS REMUEVEN EL ELEMENTOS DEL DOM -->
            <span v-if="changePercent > 0">🤑</span>
            <span v-else-if="changePercent < 0">🥲</span>
            <span v-else>😀</span>

            <!-- ESTAS MODIFICAN EL DISPLAY DEL ELEMENTO A NONE -->
            <span v-show ="changePercent > 0">:D</span>
            <span v-show="changePercent < 0">:(</span>
            <span v-show="changePercent == 0">:¿</span>
        </h1>

        <ul>
            <!-- <li v-for="price in prices" key> -->
            <li v-for="price in prices" v-bind:key="price">
                {{ price }}
            </li>
        </ul>
        <br>
        <ul>
            <!-- Se puede acceder al index del elemento v-for="(price, index) in prices"-->
            <li v-for="(price, index) in prices" v-bind:key="price">
                {{index}} - {{ price }}
            </li>
        </ul>
        <br>

        <button v-on:click="toggleShowPrices">
            {{ showPrices ? '❌' : '👁️'}}
        </button>

        <p>Con Array de Objetos </p>
        <ul v-show="showPrices">
            <li
                class="uppercase"
                v-bind:class="{ orange: p.value == precio, red: p.value < precio, green: p.value > precio }"
                v-for="(p, i) in pricesWithDays"
                v-bind:key="p.day">
                {{ i }} - {{ p.day }} - {{ p.value }}
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
    <script src="./app.js"></script>
</body>
</html>